.popup__button {
    border: 0;
    width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    padding: 0;
    transition: opacity 0.5s ease;
    margin-top: auto;
    display: block;
}

.popup__button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .popup__button {
        width: 238px;
        min-height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}