.register__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: white;
    transition: opacity 0.5s ease;
    margin-bottom: 80px;
}

.register__link:hover {
    color: #A9A9A9;
    opacity: 0.6;
}