.header {
    width: 880px;
    min-height: 74px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 45px;
    border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}

@media screen and (max-width: 1279px) {
    .header {
        width: 620px;
        min-height: 56px;
        margin-top: 28px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        width: 320px;
    }
}